@import '../../app/variables';

.aboutMe {
  padding: 110px 0px 30px 0px;
}

.aboutMeContainer {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  color: $lightMainColor;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-align: center;

  animation: fadeIn 0.8s ease-in-out forwards;
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    margin-bottom: 42px;
  }
  @media screen and (min-width: $laptop) {
    text-align: start;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutMeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 20px;
  animation: fadeUp 0.8s ease-in-out forwards;
  @media screen and (min-width: $laptop) {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 0px;
  }
}

.textList {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
  @media screen and (min-width: $laptop) {
    row-gap: 24px;
    width: 50%;
  }
}

.text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.imgContainer {
  position: relative;
  width: 85vw;
  height: 65vh;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  @media screen and (min-width: $laptop) {
    width: 40vw;
  }
  @media screen and (min-width: $desktop) {
    width: 30vw;
  }
}

.img {
  -o-object-fit: cover;
  object-fit: cover;
}

.active {
  color: #f0574c;
}

.btn {
  margin: 0 auto;
  @media screen and (min-width: $tablet) {
    margin: 0;
    margin-left: auto;
  }
}
