@import '../../../app/variables';

.button {
  padding: 10px 20px;
  background-color: $accentColor;
  color: $lightMainColor;
  text-decoration: none;
  border-radius: 5px;

  transition: background-color 0.4s ease;
  &:hover,
  &:focus {
    background-color: $hoverBtnColor;
  }
}
