@import '../../app/variables';

.portfolio {
  padding: 36px 0;
}

.portfolioList {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    row-gap: 18px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }

  @media screen and (min-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }

  @media screen and (min-width: $desktop) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.title {
  color: $lightMainColor;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
  @media screen and (min-width: $mobile) {
    font-size: 24px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    margin-bottom: 36px;
  }
}

.portfolioItem {
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  &:hover,
  &:focus {
    & > .portfolioContent {
      transform: translateY(0%);
    }
  }
  @media screen and (min-width: $mobile) {
    height: 500px;
  }
  @media screen and (min-width: $tablet) {
    height: 500px;
  }
  @media screen and (min-width: $laptop) {
    height: 450px;
  }
  @media screen and (min-width: $desktop) {
    height: 500px;
  }
}

.portfolioContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  row-gap: 16px;
  background-color: #171717ec;
  transform: translateY(75%);
  transition: transform 1s ease-in-out;
  @media screen and (min-width: $mobile) {
    transform: translateY(70%);
  }
}

.titleContent {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-align: center;
  color: $lightMainColor;
}

.servicesList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: $lightMainColor;
  @media screen and (min-width: $laptop) {
    font-size: 12px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.buttonItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
