@import '../../app/variables';

.header {
  display: block;
  position: absolute;
  top: 0;
  padding: 24px 0px 24px 16px;
  z-index: 20;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  animation: fadeIn 0.8s ease-in-out forwards;
}

.headerLinks {
  display: none;
  @media screen and (min-width: $laptop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $lightMainColor;
    column-gap: 24px;
  }
}

.link {
  font-size: 16px;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.active {
  color: $accentColor;
}

.btn {
  display: none;
  @media screen and (min-width: $laptop) {
    display: block;
  }
}
